/* Resize iframes/YouTube */
.videoWrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Add a div called videoWrapper around the YouTube video */
<div class="videoWrapper"> YouTube iframe goes here </div>
