/* Make the slideshow thinner, less-intrusive, and not cover up text on the slide */
/* This is styled on a per-page basis, in case we ever need to have a "normal" slideshow on a specific page. */
/* This could be included in the stylesheet if the original slideshow is not needed */
.secondary-slideshow {
    padding:2px;
}
@media screen and (min-width: 767px) {
    .secondary-slideshow-caption, .secondary-slideshow-caption p {
        visibility:hidden;
    }
}
@media screen and (max-width: 767px) {
    .secondary-slideshow-thumbnails, .secondary-slideshow-caption p {
        display: block;
    }
}
.read-more-box {
    visibility:visible;
}
#carousel-custom .carousel-inner {
    height: 100%;
}

/* There's a fix for the page moving up and down on every slide change already included in the stylesheet */
